/DELETE_ME
/.dir-locals.el
/.shadow-cljs/
/.DS_Store
/.lein-*
/.nrepl-port
/todo.org
/project.clj.bak
/bin/test-cljs
/cljs-test-runner-out
/target
/lib
/classes
/checkouts
.hgignore
.hg/
.cpcache/
gh-pages
node_modules/
pom.xml
pom.xml.asc
*.jar
*.class
*~
\#*
.\#*
.rebel_readline_history
